// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

.ask {
  background: rgb(50, 81, 255);
  color: white;
  font-size: 30px;
  font-family: arial; // Using this variable
}

h1 {
  color: grey;
  &:hover {
    color: black;
  }
}

p {
  font-size: 15;
}